<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hszs.stb.dao.SysParametricDAO" >
  	<resultMap id="messageMap" type="com.hszs.stb.model.home.ParameterInfo">  
  	</resultMap>
	<select id="queryParameterByCode" resultMap="messageMap">
	 select * from t_parametric p where p.code=#{paramcode} and p.using=1
	</select>
	
	<select id="queryParameterByCodeAndValue" resultMap="messageMap">
	 select * from t_parametric p where p.code=#{paramcode} and p.using=1 and p.value=#{paramvalue}
	</select>
</mapper>